* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 100%; }

body {
  background-color: #161616; }

ol,
ul,
a {
  list-style: none;
  text-decoration: none;
  color: white;
  transition: all 300ms ease-in-out; }

button,
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.625rem;
  background: #da4f2d;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  transition: all 300ms ease-in-out; }
  button:hover,
  .button:hover {
    background-color: #a63619; }

.cardButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 2.5rem;
  background: #da4f2d;
  border-radius: 120px 20px 120px 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 1.125rem;
  transition: all 300ms ease-in-out; }
  .cardButton:hover {
    background-color: #a63619;
    border-radius: 20px 120px 20px 120px;
    transform: scale(1.2); }

.cardContent {
  border-radius: 120px 20px 120px 20px;
  width: 95%;
  height: 90%;
  padding: 0 0 0 0;
  box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .cardContent h2 {
    color: white;
    padding: 10px 10px 10px 10px;
    font-size: 3.5rem;
    text-align: center; }
    .cardContent h2 span {
      color: #da4f2d; }

.policy {
  background-color: rgba(0, 0, 0, 0.517);
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 1.125rem;
  transition: all 300ms ease-in-out; }

.divider {
  display: grid;
  place-items: center;
  padding: 2rem 0; }
  .divider span {
    background-color: #da4f2d;
    height: 0.1rem;
    width: 50%;
    border-radius: 120px 20px 120px 20px; }

.proCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  border-radius: 120px 20px 120px 20px;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .proCard h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.517);
    width: 100%;
    border-radius: 100px 20px 100px 20px;
    padding: 5px; }
    .proCard h2 span {
      color: #da4f2d; }
  .proCard p {
    font-size: 1.125rem;
    font-weight: 700; }
  .proCard .buy {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-right: 140px; }
    .proCard .buy a {
      font-weight: 800;
      font-size: 1.125rem;
      padding: 10px 20px;
      border-radius: 0 10px 70px 0; }
    .proCard .buy p {
      font-size: 2rem; }
  .proCard .background1 {
    background-color: rgba(255, 255, 255, 0);
    height: 200px;
    width: 100%;
    border-radius: 120px 20px 0 0; }

.navBar {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 24px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  .navBar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navBar .logo .navImg {
      height: 49px;
      width: auto;
      cursor: pointer;
      filter: invert(100%); }
    .navBar .logo a p {
      letter-spacing: 5px;
      font-weight: 800;
      font-size: 2rem;
      color: #da4f2d;
      margin: 0 0 0 1rem; }
  .navBar .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.125rem; }
    .navBar .navLinks .menuHead {
      display: none; }
    .navBar .navLinks .mobileCta {
      display: none; }
    .navBar .navLinks li:not(:last-child) {
      margin-right: 50px; }
    .navBar .navLinks li a:hover {
      color: #da4f2d;
      font-size: 1.4rem; }
  .navBar .cta p {
    margin-left: 0.5rem; }
  .navBar .cta img {
    filter: invert(100%); }
  .navBar .burger {
    cursor: pointer;
    display: none; }
    .navBar .burger .base {
      height: 5px;
      background-color: #da4f2d;
      margin: 5px;
      border-radius: 10px;
      transition: all 0.3s ease; }
    .navBar .burger .line1 {
      width: 15px; }
    .navBar .burger .line2 {
      width: 25px; }
    .navBar .burger .line3 {
      width: 30px; }
  @media screen and (max-width: 800px) {
    .navBar .burger {
      display: block; }
    .navBar body {
      overflow-x: hidden; }
    .navBar .navLinks {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 10vh;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in; }
      .navBar .navLinks .menuHead {
        display: inline;
        font-size: 1.5rem;
        margin: 40px 0 100px 0; }
        .navBar .navLinks .menuHead span {
          color: #da4f2d; }
      .navBar .navLinks .mobileCta {
        display: inline;
        margin-top: 100px; }
      .navBar .navLinks li {
        font-size: 1.5rem; }
        .navBar .navLinks li:not(:last-child) {
          margin: 0 0 50px 1px; }
    .navBar .navLinks li {
      opacity: 0; }
    .navBar .contactButton {
      display: none; } }
  .navBar .nav-active {
    transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
  .navBar .toggle .line1 {
    width: 30px;
    transform: rotate(-45deg) translate(-7px, 7px); }
  .navBar .toggle .line2 {
    opacity: 0; }
  .navBar .toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px); }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.673)), url(../../img/key6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh);
  display: grid;
  place-items: center; }
  .hero .heroContainer {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.517);
    padding: 20px;
    border-radius: 10%; }
    .hero .heroContainer h1 {
      font-weight: 700;
      font-size: 2rem; }
      .hero .heroContainer h1 span {
        color: #da4f2d;
        font-style: italic;
        font-weight: 700; }
    .hero .heroContainer h3 {
      padding: 15px 0 40px 0; }
    .hero .heroContainer a {
      padding: 15px 100px; }
  @media screen and (min-width: 1000px) {
    .hero .heroContainer {
      background-color: rgba(0, 0, 0, 0.517);
      border-radius: 120px 20px 120px 20px;
      padding: 50px 50px 50px 100px;
      align-content: start;
      justify-content: start; }
    .hero .heroContainer h1 {
      font-size: 5rem; } }

.infoContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25em 25em 25rem;
  grid-template-areas: "card1" "card2" "card3"; }
  .infoContainer .card1 {
    background-color: #161616;
    grid-area: card1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .infoContainer .card1 .img1 {
      background: linear-gradient(rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.673)), url(../../img/key2.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover; }
  .infoContainer .card2 {
    background-color: #161616;
    grid-area: card2;
    display: flex;
    justify-content: center;
    align-items: center; }
    .infoContainer .card2 .img2 {
      background: linear-gradient(rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.673)), url(../../img/key7.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover; }
  .infoContainer .card3 {
    background-color: #161616;
    grid-area: card3;
    display: flex;
    justify-content: center;
    align-items: center; }
    .infoContainer .card3 .img3 {
      background: linear-gradient(rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.673)), url(../../img/key3.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover; }

@media screen and (min-width: 1000px) {
  .infoContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25em 25em;
    grid-template-areas: "card1 card1" "card2 card3"; } }

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center; }
  .sectionContainer .policyContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 15rem 15rem;
    grid-template-areas: "shipping" "warranty" "support";
    color: #ffffff;
    gap: 20px;
    padding: 50px 0;
    width: 95%; }
    .sectionContainer .policyContainer img {
      filter: invert(100%);
      width: 50px;
      height: 50px; }
    .sectionContainer .policyContainer h3 span {
      color: #da4f2d; }
    .sectionContainer .policyContainer .shipping {
      grid-area: shipping; }
    .sectionContainer .policyContainer .warranty {
      grid-area: warranty; }
    .sectionContainer .policyContainer .support {
      grid-area: support; }
  @media screen and (min-width: 1000px) {
    .sectionContainer .policyContainer {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 15rem;
      grid-template-areas: "shipping warranty support";
      gap: 50px; }
      .sectionContainer .policyContainer h3 {
        font-size: 1.125rem;
        padding: 20px 0; }
      .sectionContainer .policyContainer p {
        font-size: 1.125rem; }
      .sectionContainer .policyContainer .policy {
        background-color: rgba(0, 0, 0, 0.517);
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: auto;
        padding: 50px;
        border-radius: 80px 20px 80px 20px;
        font-size: 0.875rem; }
        .sectionContainer .policyContainer .policy:hover {
          border-radius: 10px;
          transform: scale(1.1);
          background-color: black; } }

.footerContainer {
  background-color: black;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem 15rem;
  grid-template-areas: "footerNav social" "map map"; }
  .footerContainer span {
    color: #da4f2d; }
  .footerContainer h2 {
    padding: 0 0 20px 0;
    font-size: 1.5rem; }
  .footerContainer .footerNav {
    grid-area: footerNav;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footerContainer .footerNav .footerLinks li {
      padding: 5px; }
  .footerContainer .social {
    grid-area: social;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footerContainer .social img {
      filter: invert(100%); }
    .footerContainer .social .footerLinks li {
      padding: 5px; }
  .footerContainer .map {
    grid-area: map;
    text-align: center; }
    .footerContainer .map .footerMap {
      height: auto;
      width: 80%;
      border-radius: 90px 20px 90px 20px; }

@media screen and (min-width: 1000px) {
  .footerContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "footerNav social map"; }
  .social h2 {
    margin-top: 20px; }
  .social .footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 50px 0; } }

.aboutContainer {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.673)), url(../../img/stefen-tan-KYw1eUx1J7Y-unsplash.jpg);
  background-size: cover;
  color: white; }
  .aboutContainer .aboutUs {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "usTitle" "usDesc" "teamPic";
    place-items: center;
    background-color: #000000ac;
    border-radius: 20px;
    padding: 40px;
    width: 90%;
    margin: 9rem 0;
    box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75); }
    .aboutContainer .aboutUs .usTitle {
      font-weight: 700;
      font-size: 2rem;
      padding: 0 0 10px 0;
      line-height: 2;
      grid-area: usTitle; }
      .aboutContainer .aboutUs .usTitle span {
        color: #da4f2d; }
    .aboutContainer .aboutUs .usDesc {
      grid-area: usDesc; }
    .aboutContainer .aboutUs .teamPic {
      grid-area: teamPic;
      background-image: url(../../img/team.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 20rem;
      margin-top: 1rem;
      border-radius: 20px; }
  @media screen and (min-width: 1300px) {
    .aboutContainer .aboutUs {
      border-radius: 120px 20px 120px 20px;
      padding: 60px 30px;
      width: 70%;
      margin: 15rem 0 10rem 0;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "usTitle teamPic" "usDesc teamPic"; }
      .aboutContainer .aboutUs .usTitle {
        font-weight: 800;
        color: white;
        font-size: 5rem; }
      .aboutContainer .aboutUs .usDesc {
        font-size: 2rem; }
      .aboutContainer .aboutUs .teamPic {
        width: 80%;
        height: 100%; } }

.form {
  background-image: url(../../img/key8.jpg);
  background-color: rgba(0, 0, 0, 0.517);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .form .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 0 0 0; }
    .form .formContainer .contactForm {
      background-color: #43434391;
      border-radius: 30px;
      padding: 30px 30px;
      margin: 0 0 80px 0;
      box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 27px -4px rgba(0, 0, 0, 0.75); }
      .form .formContainer .contactForm h2 {
        font-size: 2rem;
        font-weight: 800;
        color: white;
        margin: 0 0 25px 0; }
        .form .formContainer .contactForm h2 span {
          color: #da4f2d; }
      .form .formContainer .contactForm form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .form .formContainer .contactForm form .text,
      .form .formContainer .contactForm form textarea {
        width: 100%;
        padding: 17px;
        border: none;
        outline: none;
        background: #191919;
        color: #fff;
        font-size: 1rem;
        font-weight: 800;
        margin-bottom: 13px;
        border-radius: 15px; }
      .form .formContainer .contactForm .send {
        background-color: #da4f2d;
        width: 300px;
        border-radius: 120px 20px 120px 20px;
        font-weight: 800;
        text-align: center;
        color: white;
        border: none;
        padding: 17px;
        cursor: pointer;
        transition: all 300ms ease-in-out; }
        .form .formContainer .contactForm .send:hover {
          background: #a8381c;
          width: 300px;
          border-radius: 20px; }
      @media screen and (min-width: 1000px) {
        .form .formContainer .contactForm .contactForm form input,
        .form .formContainer .contactForm form textarea {
          width: 800px;
          font-weight: 800; } }

.kitContainer {
  background-image: url(../../img/keyback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "kit1" "kit2" "kit3";
  place-items: center;
  gap: 2rem;
  padding: 10rem 0 8rem 0; }
  .kitContainer .kitStyle {
    border-radius: 120px 20px 120px 20px;
    width: 95%;
    height: 15rem;
    display: grid;
    place-items: center; }
    .kitContainer .kitStyle h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      color: white; }
      .kitContainer .kitStyle h2 span {
        color: #da4f2d; }
    .kitContainer .kitStyle .parts li {
      font-weight: 700; }
    .kitContainer .kitStyle .kitDesc {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px; }
      .kitContainer .kitStyle .kitDesc p {
        font-weight: 800;
        font-size: 1.5rem; }
  .kitContainer .kit1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key9.jpg);
    background-size: cover;
    grid-area: kit1; }
    .kitContainer .kit1 p {
      color: white;
      font-weight: 700;
      margin: 10px 0; }
  .kitContainer .kit2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key9.jpg);
    background-size: cover;
    grid-area: kit2; }
    .kitContainer .kit2 p {
      color: white;
      font-weight: 700;
      margin: 10px 0; }
  .kitContainer .kit3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key9.jpg);
    background-size: cover;
    grid-area: kit3; }
    .kitContainer .kit3 p {
      color: white;
      font-weight: 700;
      margin: 10px 0; }

@media screen and (min-width: 1000px) {
  .kitContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "kit1 kit1" "kit2 kit3";
    place-items: center;
    gap: 4rem; }
    .kitContainer .kitStyle {
      border-radius: 120px 20px 120px 20px;
      width: 70%;
      height: 30rem; }
      .kitContainer .kitStyle h2 {
        font-size: 3rem; }
    .kitContainer .kit1 .KitFlex {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px; }
      .kitContainer .kit1 .KitFlex .parts li {
        font-size: 1.5rem; }
    .kitContainer .kit1 .kitDesc {
      flex-direction: column; } }

.readyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.547), rgba(0, 0, 0, 0.512)), url(../../img/key3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .readyContainer .head {
    background-color: rgba(0, 0, 0, 0.517);
    margin-top: 150px;
    border-radius: 50px;
    grid-area: title; }
    .readyContainer .head .title1 {
      color: white;
      font-size: 2rem;
      font-weight: 800;
      padding: 30px; }
      .readyContainer .head .title1 span {
        color: #da4f2d; }
  .readyContainer .head2 {
    background-color: rgba(0, 0, 0, 0.517);
    margin-top: 50px;
    border-radius: 50px;
    grid-area: title2; }
    .readyContainer .head2 .title1 {
      color: white;
      font-size: 2rem;
      font-weight: 800;
      padding: 30px; }
      .readyContainer .head2 .title1 span {
        color: #da4f2d; }
  .readyContainer .pro1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    grid-area: pro1; }
  .readyContainer .pro2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: pro2; }
  .readyContainer .pro3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: pro3; }
  .readyContainer .pro4 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    grid-area: pro4; }
  .readyContainer .pro5 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: pro5; }
  .readyContainer .pro6 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.493) 30%, rgba(218, 80, 45, 0.6) 100%), url(../../img/key8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    grid-area: pro6; }

@media screen and (min-width: 800px) {
  .readyContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "title title title title" "pro1 pro1 pro2 pro2" "pro3 pro3 pro3 pro3" "title2 title2 title2 title2" "pro4 pro4 pro4 pro4" "pro5 pro5 pro6 pro6";
    place-items: center; }
  .pro1,
  .pro2,
  .pro5,
  .pro6 {
    margin: 5rem 0;
    width: 80%;
    height: 45rem; }
    .pro1 .background1,
    .pro2 .background1,
    .pro5 .background1,
    .pro6 .background1 {
      width: 0;
      height: 0; }
    .pro1 h2,
    .pro2 h2,
    .pro5 h2,
    .pro6 h2 {
      width: auto;
      padding: 1rem 2rem;
      margin-bottom: 10rem;
      font-size: 2rem;
      margin: 0; }
    .pro1 .descriotion,
    .pro2 .descriotion,
    .pro5 .descriotion,
    .pro6 .descriotion {
      margin: 5rem 0; }
    .pro1 .buy,
    .pro2 .buy,
    .pro5 .buy,
    .pro6 .buy {
      flex-direction: column-reverse;
      gap: 5rem;
      margin: 0; }
      .pro1 .buy a,
      .pro2 .buy a,
      .pro5 .buy a,
      .pro6 .buy a {
        border-radius: 10%; }
  .pro3,
  .pro4 {
    width: 80%; }
    .pro3 .background1,
    .pro4 .background1 {
      width: 0;
      height: 0; }
    .pro3 h2,
    .pro4 h2 {
      width: auto;
      padding: 1rem 3rem;
      margin-top: 100px;
      font-size: 3.5rem; }
    .pro3 .descriotion,
    .pro4 .descriotion {
      padding: 6rem 0; }
    .pro3 .buy,
    .pro4 .buy {
      flex-direction: row-reverse;
      gap: 5rem;
      margin: 0 0 1rem 0; }
      .pro3 .buy a,
      .pro4 .buy a {
        border-radius: 10%; }
  .readyContainer .head .title1 {
    font-size: 3.5rem; }
  .readyContainer .head2 .title1 {
    font-size: 3.5rem; } }

@media screen and (min-width: 1000px) {
  .readyContainer .proCard .descriotion {
    font-size: 2rem; } }
