// Primary
$brigthOrange: #da4f2d;
$darkOrange: #a63619;
$black: #161616;
$darkWhite: #edf3f4;
$backGroud: rgba(0, 0, 0, 0.517);

// Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// font sizes

$fontXl: 3.5rem;
$fontL: 2rem;
$fontMed: 1.125rem; //14px
$fontS: 0.875rem; //18px